* {
    margin: 0px;
    border: 0px;
}

body{
   background-image: url(resources/space.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white
}

.left{
  float: left;
}

.right{
  float: right;
  font-size: 35px;
  margin-right: 5px;
  padding: 10px;
  color: white
}

p{
    font-family: 'Gluten', cursive; 
}

button{
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 35px;
  border-radius: 20px;
  height: 75px;
  width: 100px;
  padding: 20px;
  margin: 2px;
}

button:hover{
  background-color: #0099ff;


}

.controls{
  width: 430px;
  padding: 10px;
  align-content: center;
}

#stop{
  margin-left: 115px;
  margin-right: 115px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disppear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.container, .card, .card-body{
  z-index: -1;
}




